.contenedor-login {
  max-width: 350px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 60%;
  margin-top: 8px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #1a242f;
}

.error {
  color: #e53935;
  font-size: 0.85rem;
  margin-top: 4px;
}

input.ng-invalid.ng-touched {
  border-color: #e53935;
}

.alternar {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}